<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.framework.dao.function.disk.WebDiskUploadTaskMapper">
    <resultMap id="BaseResultMap" type="com.framework.entity.function.disk.WebDiskUploadTask">
        <id column="id" property="id"/>
        <result column="uploaded_ids" property="uploadedIds"/>
        <result column="md5" property="md5"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, uploaded_ids, md5
    </sql>

</mapper>